################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fallout
/Fallout/x64/Release
/x64/Release
